.row
	.col-sm-12
		.pull-left
			a.btn.btn-sm.btn-default href=url_for(:shifts, :index)
				i.fa.fa-arrow-left> &nbsp; Back
		.pull-right.btn-toolbar
			- if current_user.is_admin?
				= link_to "Edit Shift", url_for(:shifts, :edit, shift.id), :class => "btn btn-sm btn-warning"
				= link_to url_for(:shifts, :destroy, shift.id), :method => "delete", :confirm => "Are you sure you want to delete this record?", :class => "btn btn-sm btn-danger"
					= csrf_token_field
					' Delete Shift
				/= link_to "Assign Users to Shift", url_for(:assignment, :index, shift.id), :class => "btn btn-sm btn-info"