.col-lg-3.col-md-4.col-sm-6.col-xs-12.shift-container
	.panel.panel-default.shift data-start="#{shift.start_date}" data-name="#{shift.name}"
		.panel-heading
			h3.panel-title= shift.name
		.panel-body
			strong> Date:
			= shift.start_date.strftime('%A %D')
			- if shift.reminder_date
				p
					strong> Send Reminders:
					= shift.reminder_date.strftime('%D')
			- if shift.capacity
				p: strong= "Capacity: #{shift.assignments.count} / #{shift.capacity}"
			- else
				p: strong= "Signed Up: #{shift.assignments.count}"
			- if mine
				p: strong.shiftcount You have #{assign.count} sign ups for this shift
			.btn-toolbar
				a.btn.btn-sm.btn-info href=url_for(:shifts, :view, shift.id) View
				- if mine && (assign.select_map(:status).max == 0)
					=link_to "Give Up", url(:shifts, :forfeit, shift.id), :remote => true, :class => "btn btn-warning btn-sm forfeit-btn", :confirm => "Are you sure you want to cancel your shift?", :data => {:'shift-date' => shift.start_date.strftime('%A %D'), :'shift-id' => shift.id}
				- unless (current_user.phone.blank? || current_user.email.blank? || current_user.tz.blank?) || shift.full?
					=link_to :class => "btn btn-sm btn-success signup-btn", :data => {:'shift-id' => shift.id}
						' Sign Up