.modal.fade#signUpModal role="dialog" tabindex="-1"
	.modal-dialog
		.modal-content

- content_for (:scripts)
	javascript:

		$(document).on('click', '.signup-btn', function(e) {
			e.preventDefault();
			var shift = $(this).data('shift-id');
			$.get("/shifts/signup/"+shift, function(data) {
				$("#signUpModal .modal-content").html(data);
				$("#signUpModal").modal('show');
				ga('send', {
					hitType: 'event',
					eventCategory: 'Shifts',
					eventAction: 'signup',
				});
			});
		});

		$('.modal').on('click', '.cancel', function() {
			$(e.target).modal('hide');
		});

		// Reset modal
		$(document).on('hidden.bs.modal', '#signUpModal', function(e) {
			$(e.target).removeData('bs.modal');
			$('#signUpModal').unbind('submit');
		});