- content_for(:title){ "Available Shifts" }
- if current_user.is_admin?
	a.btn.btn-default.pull-right href=url_for(:shifts, :new)
		i.fa.fa-plus> &nbsp; Add New Shift

h1 Sign up for Shifts

.panel.panel-info#mine
	.panel-heading My Shifts
	.panel-body
		- if @mine.empty?
			p You're not currently signed up for shifts!
		- @mine.each do |m|
			= partial :'shift/each', :locals => { :shift => m, :mine => true, :assign => m.assignments_dataset.where(:user_id => current_user.id)}

.panel.panel-default#upcoming
	.panel-heading Other Upcoming Shifts
	.panel-body
		- if @upcoming.empty?
			p No upcoming shifts
		- @upcoming.each do |u|
			= partial :'shift/each', :locals => {:shift => u, :mine => false}

= feed_tag(:rss, url(:shifts, :feed, :format => :rss), :title => "RSS")

= partial :'shift/modal'

- content_for :scripts
	javascript:
		$(document).on('ajax:success', '.forfeit-btn', function() {
			var $shiftId = $(this).data('shift-id');
			var $parent = $(this).parents('div.shift-container');
			var $container = $(this).parent('.btn-toolbar');
			$(this).remove();
			$($parent).find(".shiftcount").text("You have 0 signups for this shift");
			$("#upcoming>.panel-body>p").remove();
			$parent.fadeOut(500, function() { $(this).detach().appendTo("#upcoming>.panel-body").fadeIn(500); });
			ga('send', {
				hitType: 'event',
				eventCategory: 'Shifts',
				eventAction: 'forfeit',
			});
		});