- content_for(:title){ "Add New Shift" }
- content_for(:assets)
	link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css" type="text/css" rel="stylesheet"

.row
	.col-sm-12
		a.btn.btn-default href=url_for(:shifts, :index)
			i.fa.fa-arrow-left> &nbsp; Back

h1 New Shift

p You can create a shift for an entire day or for a specific event.

.row
	form.form method="POST" action=url_for(:shifts, :create)
		= csrf_token_field
		.col-md-12
			.form-group
				label Name
				input.form-control type="text" id="name" name="form[name]" placeholder="New York City Barnstorm" value=@form[:name]
				span.help-block If you leave this blank, it will be automatically filled with the Start Date ex: Monday, January 6, 2016
		.col-md-6
			.form-group
				label Start Date
				input.form-control type="text" id="start_date" name="form[start_date]" required=true value=@form[:start_date] data-provide="datepicker" data-date-format="yyyy/mm/dd" data-start-date="today" data-date-orientation="bottom auto" data-date-start-date="+0d" data-date-today-btn="linked" data-date-today-highlight="true"
				span.help-block When texters need to be available for initial messages
		.col-md-6
			.form-group
				label Reminder Date (optional)
				input.form-control type="text" id="reminder_date" name="form[reminder_date]" value=@form[:reminder_date] data-provide="datepicker" data-date-format="yyyy/mm/dd" data-start-date="today" data-date-orientation="bottom auto" data-date-start-date="+0d" data-date-today-btn="linked" data-date-today-highlight="true"
				span.help-block When texters need to be available for reminders (if applicable)
		.col-md-12
			.form-group
				label Details
				textarea.form-control id="details" name="form[details]" rows="5" placeholder="# This is a heading
				## This is a subheading
				[This is a link](http://bernie.to/map)"
					= @form[:details]
				span.help-block Any applicable details, including description, event address and common responses. You can use <a href='https://daringfireball.net/projects/markdown/syntax' target="_blank">markdown</a> in this field.
		.col-sm-3
			.form-group
				label Shift Capacity
				input.form-control type="number" id="capacity" name="form[capacity]" value=@form[:capacity]
				span.help-block If only a certain number of texters are needed, you can indicate that here
		.col-sm-9
			.form-group
				label Event Link
				input.form-control type="url" id="event_link" name="form[event_link]" placeholder="http://bernie.to/map" value=@form[:event_link]
				span.help-block If there's a specific link for this event, enter it here
		.col-md-12.clearfix.btn-toolbar
			button.btn.btn-primary Submit
			a.btn.btn-default.cancel href=url_for(:shifts, :index) Cancel

- content_for(:scripts)
	script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"