.modal-header
	button.close type="button" data-dismiss="modal" aria-label="Close"
		span aria-hidden="true" &times;
	h4.modal-title Sign Up for Shift
form#signUpForm method="POST" action=url_for(:shifts, :signup, @shift.id)
	= csrf_token_field
	.modal-body
		h3 You currently have #{@shift.assignments_dataset.where(:user_id => current_user.id).count} sign ups for this shift
		.form-group
			label.control-label How many shifts do you want to sign up for on #{@shift.start_date.strftime('%A %D')}?
			input.form-control.col-xs-2 name="amount" required="required" type="number" min=1 max=4 value=1
		p.clearfix
		.form-group
			label.control-label
				' Do you have any availability limitations for shifts on #{@shift.start_date.strftime('%A %D')}?
				strong Please leave blank if you're flexible.
			input.form-control name="availability" maxlength="100"
			span.help-block For example, if you can only send texts in the morning or evening.
	.modal-footer
		button.btn.btn-primary type="submit" Sign Up for Shift
		a.btn.btn-default data-dismiss="modal" title="Cancel without saving changes" Cancel