- content_for(:title) { "#{@shift.name} #{@shift.start_date.strftime('%D')}" }

= partial :'shift/admin', :locals => {:shift => @shift}

.row
	.col-md-12
		h1= @shift.name
		table.table.table-lined
			thead: tr: th colspan=3 If you sign up for this shift, please be available to send messages on the following date(s):
			tbody
				tr
					th Shift Date
					- unless @shift.reminder_date.blank?
						th Reminder Date (or second message date)
					- unless @shift.event_link.blank?
						th Event Link
					th Shift Capacity
				tr
					td = @shift.start_date.strftime("%A, %B %d")
					- unless @shift.reminder_date.blank?
						td = @shift.reminder_date.strftime("%A, %B %d")
					- unless @shift.event_link.blank?
						td: a href=@shift.event_link target="_blank" #{@shift.event_link}
					td
						- if @shift.capacity.blank?
							p= "#{@count_all_shifts} signed up"
						- else
							p= "#{@count_all_shifts} / #{@shift.capacity}"
						- if @count_all_shifts > 0
							p= "#{@assigned_shifts} / #{@count_all_shifts} Assigned (#{@count_all_shifts - @assigned_shifts} Remaining)"

- unless @shift.details.blank?
	.row
		.col-md-12
			.panel.panel-info
				.panel-heading
					h4.panel-title Shift Details
				.panel-body
					= markdown(@shift.details)

- content_for :scripts
	= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/jquery.dataTables.min.js", "https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/dataTables.bootstrap.min.js"

/ Conditional view based on permissions
- if current_user.is_admin?
	= partial :'assignment/admin', :locals => {:shift => @shift}
- else
	= partial :'assignment/index', :locals => {:shift => @shift}

- content_for(:assets) do
  	= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/css/dataTables.bootstrap.min.css"
  	css:
  		.tab-pane { padding-top: 10px; }

= partial :'shift/modal'