
.row
	.col-md-6.col-md-offset-3.text-center
		table.table
			tr: th colspan="5" Assignment Key
			tr
				td Pending
				td.claimed In Progress
				td.assigned Assigned
				td.cancel Cancelled
				td.missing Missing Info

.pull-right
	strong> You currently have #{@my_shifts.count} signups for this shift &nbsp;
	- if (@my_shifts.count > 1) && (@my_shifts.select_map(:status).max == 0)
		=> link_to "Give Up All", url_for(:shifts, :forfeit, shift.id), :remote => true, :class => "btn btn-warning forfeit-btn btn-sm", :confirm => "Are you sure you want to cancel your shift?", :data => {:'shift-date' => shift.start_date.strftime('%A %D'), :'shift-id' => shift.id}
	- unless (current_user.phone.blank? || current_user.email.blank? || current_user.tz.blank?) || shift.full?
		=link_to :class => "btn btn-sm btn-success signup-btn", :data => {:'shift-id' => shift.id}
				' Sign Up For Shifts
ul.nav.nav-tabs role="tablist"
	li.active role="presentation"
		a href="#first" aria-controls="first" role="tab" data-toggle="tab" First Shift
	li role="presentation"
		a href="#extra" aria-controls="first" role="tab" data-toggle="tab" Extra Shifts

.tab-content
	.tab-pane.active#first role="tabpanel"
		.table-responsive
			table.table.table-condensed.table-bordered.datatable.first style="width:100%"
				thead
					tr
						td width='20'
						th Slack ID
						th Name
						th Assignment
						th width='1'

				tbody
					tr
						td
						td
						td
						td
						td

				tfoot
					tr
						td
						th Slack ID
						th Name
						th Assignment
						th

	.tab-pane#extra role="tabpanel"
		.table-responsive
			table.table.table-condensed.table-bordered.datatable.extra style="width:100%"
				thead
					tr
						td width='20'
						th Slack ID
						th Name
						th Assignment
						th width='1'

				tbody
					tr
						td
						td
						td
						td
						td

				tfoot
					tr
						td
						th Slack ID
						th Name
						th Assignment
						th

- content_for(:scripts)
	javascript:
		$(document).ready(function() {

			var firstParams = {
				"ajax": {
					url: "#{{@assignment_url}}",
					method: "POST",
					dataSrc: "",
				},
				"processing": true,
				"paging": false,
				"deferRender": true,
				columns: [
					{data: null},
					{data: "uid"},
					{data: "name"},
					{data: "assigned_to"},
					{
						data: null,
						defaultContent: "",
						render: function(data, type, row) {
							if(row.uid == "#{{current_user.uid}}" && type == 'display' && row.status == 0) {
								return "<a class='btn btn-warning btn-forfeit btn-sm' href='/assignment/forfeit/"+row.id+"' data-remote='true' data-confirm='Are you sure you want to cancel this shift?'><i class='fa fa-times'></i>&nbsp;Give Up</a>";
							}
						},
					}
				],
				"createdRow": function(row, data, index) {
					$('td', row).eq(0).html(index + 1);
					switch(data.status) {
						case 1: // claimed
							$(row).addClass('claimed');
							break;
						case 2: // assigned
							$(row).addClass('assigned');
							break;
						case 3: // cancel
							$(row).addClass('cancel');
							break;
						case 4: // missing
							$(row).addClass('missing');
							break;
					}
				},
				"ordering": false
			};

			$.fn.dataTable.ext.errMode = 'none';

			var extraParams = $.extend(true,{},firstParams);

			firstParams["ajax"]["data"] = {"type": 1}
			var tableFirst = $('.first').dataTable(firstParams);

			extraParams["ajax"]["data"] = {"type": 2}
			var tableExtra = $('.extra').dataTable(extraParams);

			setInterval( function () {
				$(".datatable").DataTable().ajax.reload(null, true);
			}, 60000 );
		});

		$('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
			$($.fn.dataTable.tables()).DataTable().columns.adjust().draw();
		});

		$(document).on('ajax:success', '.btn-forfeit', function(e) {
			$($.fn.dataTable.tables()).DataTable().ajax.reload(null, true);
		});

		$(document).on('ajax:success', '.forfeit-btn', function(e) {
			$($.fn.dataTable.tables()).DataTable().ajax.reload(null, true);
			ga('send', {
				hitType: 'event',
				eventCategory: 'Shifts',
				eventAction: 'forfeit',
			});
		});