.modal-header
	button.close type="button" data-dismiss="modal" aria-label="Close"
		span aria-hidden="true" &times;
	h4.modal-title Assign Users to Shift
form#assignForm method="POST" action=url_for(:assignment, :confirm)
	= csrf_token_field
	.modal-body
		.table-responsive
			table.table.table-bordered.table-condensed
				tr
					th Slack ID
					th Details
					th Location
					th Assignment
					th Assigned by
				- @a.each do |a|
					tr
						td= a[:uid]
						td= "#{a[:name]} #{a[:phone]}"
						td= "#{a[:location]} (#{a[:tz]})"
						td= a[:assigned_to]
						td= a[:assigned_by]
						input type="hidden" name="ids[]" value= a[:id]
		.form-group
			label.control-label Assignment Name
			input.form-control name="assigned_to" required="required"
		.checkbox
			label.control-label
				input#notify type="checkbox" name="notify" onclick="$('.message').toggleClass('hidden show');" Notify users on slack?
			span.help-block This will automatically send the selected users a notification that they have been assigned!
		.form-group.message.hidden
			label.control-label Message (optional)
			textarea.form-control name="message" rows="3"
			span.help-block The message to be included when posting in the channel (Slack ID's will be included automatically)
	.modal-footer
		button.btn.btn-primary type="submit" title="Mark users assigned (green)" Assign Users
		a.btn.btn-default data-dismiss="modal" title="Cancel without saving changes" Cancel