.shift-container {
	padding-right: 5px;
	padding-left: 5px;

	.panel-body {
		padding: 7px 7px 10px;
	}
}

.datatable {
	tbody {
		tr {
			&.selected>td {
				color: black;
				font-weight: bold;
				background: lightgrey !important;
			}
			&.claimed>td {
				color: black;
				background: gold;
			}
			&.missing>td {
				background: #FF5B5B;
			}
			&.assigned>td {
				background: #65DE5C;
			}
			&.cancel>td {
				background: #94CBCB;
			}
		}
	}
}

tr>td {
	&.selected {
		color: black;
		font-weight: bold;
		background: lightgrey !important;
	}
	&.claimed {
		color: black;
		background: gold;
	}
	&.missing {
		background: #FF5B5B;
	}
	&.assigned {
		background: #65DE5C;
	}
	&.cancel {
		background: #94CBCB;
	}
}

#adminfooter {
	background-color: darkgrey;
}