$mobile-width: 480px;
$tablet-width: 768px;
$medium-width: 992px;
$desktop-width: 1200px;

@mixin mobile {
	@media (min-width: #{$mobile-width}) {
		@content;
	}
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin medium {
	@media (min-width: #{$medium-width}) {
		@content;
	}
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin thin-shadow {
	text-shadow: 0 1px 1px #bbb,
			 0 2px 1px #b9b9b9,
			 0 3px 1px #aaa;
}

@mixin thick-shadow {
	text-shadow: 0 1px 1px #bbb,
			 0 2px 1px #b9b9b9,
			 0 3px 1px #aaa,
			 0 4px 1px #a9a9a9,
			 0 5px 1px #999,
			 0 6px 1px rgba(0,0,0,.2),
			 0 0 5px rgba(0,0,0,.2),
			 0 1px 3px rgba(0,0,0,.4),
			 0 3px 5px rgba(0,0,0,.3),
			 0 5px 10px rgba(0,0,0,.35),
			 0 10px 10px rgba(0,0,0,.3),
			 0 20px 20px rgba(0,0,0,.25);
}


body {
	padding-top: 95px;
	font {
		family: 'Lato', sans-serif;
		weight: 300;
		color: #555;
	}
	position: relative;
}

h1 {
	font-family: 'Lora', serif; font-weight: 700;
	color: #131333;
	@include thin-shadow;

	.thick-shadow {
		@include thick-shadow;
	}
}

h2, h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	@include thin-shadow;
}

.navbar-brand {
	font-family: 'Lora';
	font-weight: 900;
	text-shadow: 2px 2px 1px #163E66;
	line-height: 65px;
	font-size: 25px;
}

.navbar.navbar-inverse {
	box-shadow: 0px 4px 1px rgba(0,0,0,.3);
}

ul.navbar-nav li {
	text-transform: uppercase;
}

.wompy {
	font-size: 1.6em;
	font-style: italic;
}

header {
	height: 80vh ;
	background: {
		image: url("../RallyHeader2.jpg");
		color: #888;
		blend-mode: multiply;
		attachment: fixed;
		size: cover;
		position: center top;
	}
	border-bottom: 5px solid #0A2270;
	position: relative;

	@include desktop {
		height: 85vh;
	}

	.container {
		padding-top: 10vh;
		color: #F5F6FA;

		@include medium {
			padding-top: 8vh;
		}
	}

	.go-down {
		bottom: 4vh;
		position: absolute;
		color: #F5F6FA;
		width: 100%;

		@include tablet {	bottom: 5vh; }

		a {
			color: #f5f6fa;
			text-decoration: none;
		}
	}

	h1 {
		font-size: 10vw;
		line-height: 1.2em;
		color: #F5F6FA;

		@include tablet {
			font-size: 7vw;
		}


	}

	p.subtitle {
		font-family: 'Lato', serif; font-weight: 400; font-style: italic;
		font-size: 4.5vw;

		@include tablet {
			font-size: 3vw;
		}

		@include desktop {
			font-size: 1.5vw;
		}
	}
}

@media screen and (max-width: 500px) {
	header .material-icons { font-size: 50px !important; }
}

.material-icons.feature-lg { font-size: 144px; }
.material-icons.feature-md { font-size: 84px; }

section {
	padding-top: 10vh;
	padding-bottom: 10vh;
	
	h1 {
		text-align: center; margin-bottom: 5vh;
	}

	&#what {
		/* Background texture by subtlepatterns.com */
		background: #F5F6FA url("../handmadepaper.png");
		background-blend-bode: overlay;

		p {
			font-size: 1.3em;
		}

		#quote {
			padding: 2vh 3vh;
			margin-bottom: 2vh;
		}
	}

	&#how {
		background: #6e6e6e url("../handmadepaper.png");
		background-blend-mode: overlay;
		overflow: hidden;

		h2 { font-weight: 500; }

		.material-icons {
			text-shadow: 0 1px 1px #bbb,
					 0 2px 1px #b9b9b9,
					 0 3px 1px #aaa;
		}

		p {
			font-size: 1.3em;
			line-height: 1.5em;
		}
	}

	&#start {
		background-color: #6ACCCC;
		color: #F5F6FA;
		padding-bottom: 20vh;
	}
}

#quote .quote {

	font: {
		size: 1.8em;
		family: 'Lora';
		weight: 700;
		style: italic;
	}

	margin: 0px 20px;
	text-align: justify;

	&:before {
		content: "\f10d";
		font-family: 'FontAwesome';
		font-size: 50px;
		line-height: 40px;
		color: rgba(0,0,0,.2);
		top: -30px;
		margin-right: -10px;
	}

	@include tablet {
		font: {
			size: 2.7em;
			margin: 0px 80px;
		}

		&:before {
			font-size: 100px;
		}
	}
}

#quote .bern {
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	float: right;
	margin-bottom: 10px;
}

.btn-start {
	font-size: 2em;
	padding: 20px 30px;
}

footer {
	background-color: #34517B; padding-top: 3vh; padding-bottom: 3vh;
	color: #eee;
	font-family: 'Lato', sans-serif; font-weight: 400;

	@media screen and (max-width: $medium-width) {
		.col-md-4 {
			text-align: center !important;
			padding-bottom: 10px;
		}
	}

	h3 {
		font-weight: 500;
		font-size: 1.5em;
		color: #F5F6FA;
		text-shadow: 0px 1px 1px rgba(0,0,0,.5);
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	ul {
		list-style-type: none;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin: 0;
		padding: 0;
	
		li {
			margin: 17px 0px;

			a {
				color: #f5f6fa;
				text-decoration: none;

				&:hover {
					text-decortaion: underline;
					color: #f5f6fa;
				}
			}
		}
	}

	&.subfooter {
		/*height: 60px;*/
		background: #1E3658;
		background-url: "http://api.thumbr.it/whitenoise-361x370.png?background=#112d4aff&noise=2d3a47&density=28&opacity=33";
	}
}