tr class=(u.active? ? '' : 'warning') data-user=u.id
	td=u.uid
	td data-sort=u.name
		- if u.is_admin?
			i.fa.fa-star> style="color: gold;" title="admin"
		=u.name
	td=u.email
	td=u.phone
	td=u.active? ? "Active" : "Deactivated"
	td.btn-toolbar
		a.btn.btn-sm.btn-warning data-toggle="modal" data-target="#userModal" href=url_for(:users, :admin_edit, u.id) title="Edit User"
			i.fa.fa-pencil
		- if u.active
			= link_to url_for(:users, :activate, u.id), :class => "btn btn-sm btn-danger active-btn", :title => "Deactivate"
				i.fa.fa-times
		- else
			= link_to url_for(:users, :activate, u.id), :class => "btn btn-sm btn-success active-btn", :title => "Activate"
				i.fa.fa-check
		- if u.is_admin? && (u.uid != current_user.uid)
			= link_to url_for(:users, :adminify, u.id), :class => "btn btn-sm btn-default admin-btn", :title => "Remove Admin"
				i.fa.fa-star
		- elsif (u.uid != current_user.uid)
			= link_to url_for(:users, :adminify, u.id), :class => "btn btn-sm btn-info admin-btn", :title => "Add Admin"
				i.fa.fa-star