.modal-header
	h4= @user.uid
form#userEditForm method="POST" action=url_for(:users, :admin_update, @user.id)
	= csrf_token_field
	.modal-body
		.form-group
			label Slack ID
			.input-group
				input.form-control#inputUID name="user[uid]" type="text" disabled="disabled" value= @user.uid
				span.input-group-btn
					button.btn.btn-warning#updateUID type="button" Update User ID
			span.help-block.text-danger
				| If you change this without confirming the updated Slack ID with the user, it will prevent them from logging in!
				strong USE WITH CAUTION
		.form-group
			label Name
			input.form-control name="user[name]" type="text" required="required" value= @user.name
		.form-group
			label Email
			input.form-control name="user[email]" type="email" required="required" value= @user.email
		.form-group
			label Phone #
			input.form-control#phone name="user[phone]" type="text" required="required" value= @user.phone
		.form-group
			label City and State
			input.form-control name="user[location]" type="text" value= @user.location
		.form-group
			label Time Zone
			= select_tag('user[tz]', :options => ['EST','CST','MST','PST','Other'], :required => true, :selected => @user.tz, :class => 'form-control')
	.modal-footer
		button.btn.btn-success type="submit" Update
		a.btn.btn-default.cancel Cancel
	javascript:
		$(function() {
			$("#phone").mask("(999) 999-9999");
			$("#updateUID").on('click', function() {
				var spelling = confirm("Please ensure that you type the slack ID EXACTLY as it is displayed in slack **or they will not be able to log in**");
				if(spelling) {
					$("#inputUID").prop('disabled', false);
				}
			})
		});