
.row
	.col-md-12
		= link_to url_for("/profile"), :class => "btn btn-default"
			i.fa.fa-arrow-left
			' &nbsp; Back

h1= @user.uid

.row
	.col-sm-3
		- if @user.image
			= image_tag(@user.image)
		- else
			= gravatar_tag @user.email, :size => 192
		p: small We get your profile picture from slack, so you can update it there.
	.col-sm-6
		form method="POST" action=url_for(:users, :update)
			= csrf_token_field
			input type="hidden" name="_method" value="PUT"
			.form-group
				label Your Name
				input.form-control name="name" type="text" required="required" value= @user.name
				span.help-block Please enter your <strong>REAL</strong> first name. This is what will show up in messages you send!
			.form-group
				label Email
				input.form-control name="email" type="email" required="required" value= @user.email
				span.help-block The email you want your shift assignments to be sent to!
			.form-group
				label Location
				input.form-control name="location" type="text" value= @user.location
				span.help-block City and State
			.form-group
				label Cell Phone #
				input.form-control#phone name="phone" type="text" required="required" value= @user.phone
				span.help-block Required so data managers can assign you shifts
			.form-group
				label Time Zone
				= select_tag(:tz, :options => [['Please Select',''],'EST','CST','MST','PST','Other'], :required => true, :selected => @user.tz, :class => 'form-control')
			.btn-toolbar
				button.btn.btn-success type="submit" Update
				= link_to "Cancel", url_for("/profile"), :class => "btn btn-default cancel"
- content_for(:scripts) do
	= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"
	javascript:
		$(function() {
			$("#phone").mask("(999) 999-9999");
		});