
.row
	.col-md-12.text-right
		= link_to url_for(:users, :edit), :class => "btn btn-warning"
			i.fa.fa-pencil
			' &nbsp; Edit

h1= @user.uid

.row
	.col-sm-3
		- if @user.image
			= image_tag(@user.image)
		- else
			= gravatar_tag @user.email, :size => 192
		p: small We get your profile picture from slack, so you can update it there.
	.col-sm-6
		table.table
			tr
				th Name
				td= @user.name
			tr
				th Email
				td= @user.email
			tr
				th Phone #
				td= @user.phone
			tr
				th Location
				td= @user.location
			tr
				th Time Zone
				td= @user.tz