.jumbotron
	h1 Welcome to Text for Our Revolution!
	p You will need to have <a href='http://bernie.to/t4b_New_User_FAQ' target="_blank">completed our onboarding process</a> before being able to log in or sign up for a shift.
	p Since we use Slack for authentication, you'll also need to be a member of the <a href='https://ourrevslack.herokuapp.com/' target="_blank">Text For Our Revolution slack</a>, too!

.btn-toolbar#start-btn
	- if current_user || logged_in?
		a.btn.btn-lg.btn-primary href=url_for(:shifts, :index) Sign up for Shifts
	- else
		a href="/login"
			<img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />