doctype html
html
	head
		meta http-equiv="X-UA-Compatible" content="IE=edge"
		meta name="viewport" content="width=device-width, initial-scale=1"
		meta charset="utf-8"

		meta property="og:url" content="http://www.textforbernie.com"
		meta property="og:type" content="website"
		meta property="og:title" content="Text for Our Revolution, a turnout app for volunteers"
		meta property="og:description" content="Every week, there are hundreds of events occuring across the country in support of the continuing mission of Our Revolution, but local volunteers may not know about them. Texting lets supporters know about important events that are happening in their communities! The more active we are within our communities, the larger difference we can make in our government!"
		meta property="og:image" content="http://www.textforbernie.com/SocialShare.jpg"

		meta name="twitter:card" content="summary_large_image"
		meta name="twitter:site" content="@ourrevolution"
		meta name="twitter:creator" content="@elanorriley"
		meta name="twitter:title" content="Text for Our Revolution, a turnout app for volunteers"
		meta name="twitter:description" content="Every week, there are hundreds of events occuring across the country in support of the continuing mission of Our Revolution, but local volunteers may not know about them. Texting lets supporters know about important events that are happening in their communities! The more active we are within our communities, the larger difference we can make in our government!"
		meta name="twitter:image" content="http://www.textforbernie.com/SocialShare.jpg"


		link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100|Lora:400,700italic,700,400italic' type='text/css' rel='stylesheet'
		link href='/css/bootstrap.min.css' type='text/css' rel='stylesheet'
		link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' type='text/css' rel='stylesheet'
		link href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css' type='text/css' rel='stylesheet'
		link href='https://fonts.googleapis.com/icon?family=Material+Icons' type='text/css' rel='stylesheet'
		link href='/css/landing.css' type='text/css' rel='stylesheet'

		/! HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		/[if lt IE 9]
			script type='text/javascript' src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
			script type='text/javascript' src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

		/!-- Favicon Designed by Conlin Durbin: http://conlin.xyz
		link href="favicon/favicon.ico" rel="shortcut icon" type="image/x-icon" /
		link href="favicon/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" /
		link href="favicon/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" /
		link href="favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" /
		link href="favicon/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" /
		link href="favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" /
		link href="favicon/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" /
		link href="favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" /
		link href="favicon/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" /
		link href="favicon/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" /
		link href="favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /
		link href="favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /
		link href="favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" /
		link href="favicon/android-chrome-192x192.png" rel="icon" sizes="192x192" type="image/png" /
		meta content="favicon/smalltile.png" name="msapplication-square70x70logo" /
		meta content="favicon/mediumtile.png" name="msapplication-square150x150logo" /
		meta content="favicon/widetile.png" name="msapplication-wide310x150logo" /
		meta content="favicon/largetile.png" name="msapplication-square310x310logo" /


	body#pagetop role="document" data-spy="scroll" data-target="#navbar"

		/! Navigation
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				/! Navbar Header
				.navbar-header
					button.navbar-toggle.collapsed data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar" type="button"
						span.sr-only Toggle Menu
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand href="#pagetop" data-toggle="collapse" data-target=".navbar-collapse.in"
						'Text for Our Revolution
				nav.collapse.navbar-collapse#navbar
					a.navbar-right.btn.btn-danger.navbar-btn.hidden-sm.hidden-xs href='https://secure.actblue.com/contribute/page/t4revolution?refcode=header' onclick="ga('send','event','button','donate');" target="_blank" Donate
					ul.nav.navbar-nav.navbar-right role="navigation"
						li: a data-toggle="collapse" data-target=".navbar-collapse.in" href="#what" What is it?
						li: a data-toggle="collapse" data-target=".navbar-collapse.in" href="#how" How does it work?
						li: a data-toggle="collapse" data-target=".navbar-collapse.in" href="#start" Get Started

		header
			.container

				h1.wow.fadeInDown.thick-shadow Be part of Our Revolution
				p.subtitle.wow.fadeInUp Send messages to grassroots volunteers to help turnout support for local events and candidates.

			.text-center.go-down.wow.bounce data-wow-duration="5s" data-wow-iteration="10"
				a href="#what": i.material-icons.feature-md arrow_downward


		section#what
			.container
				h1 What is Text for Our Revolution?

				.row
					.col-sm-12#quote
						blockquote.quote If we stand together, if we build a political revolution, there is no limit to what we can accomplish.
						span.bern Senator Bernie Sanders

				.row
					.col-md-4.col-md-push-8.text-center
						.wow.fadeInRight style="display:inline-block;"
							i.material-icons.feature-md add_location
						.wow.fadeInRight style="display:inline-block;" data-wow-delay=".3s"
							i.material-icons.feature-md directions_walk
						.wow.fadeInRight style="display:inline-block;" data-wow-delay=".6s"
							i.material-icons.feature-md beenhere

					.col-md-8.col-md-pull-4
						p Every week, there are hundreds of events occuring across the country in support of the continuing mission of <em>Our Revolution</em>, but local volunteers may not know about them.
						p Texting lets supporters know about important events that are happening in their communities! The more active we are within our communities, the larger difference we can make in our government!

		section#how
			.container
				h1 How does it work?
				.row
					.col-md-4.wow.fadeInUp data-wow-delay=".3s"
						.text-center
					  		i.material-icons.feature-lg phonelink_setup
						h2.text-center Download the App
						p
							| In order to send messages to supporters you will need to download the app. The application allows you to send messages
							em<> without exposing your personal phone number or displaying the phone number of the person you are messaging.
							| Privacy and anonymity are protected!
					.col-md-4.wow.fadeInUp data-wow-delay=".6s"
						.text-center
							i.material-icons.feature-lg assignment_ind
						h2.text-center Sign Up For Shifts
						p
							| Once you have downloaded the application, you will need to sign up for a
							em<> shift.
							| Each shift includes around 100 messages to send to Our Revolution supporters in a specific area about events near them. You can sign up for multiple shifts, too!
					.col-md-4.wow.fadeInUp data-wow-delay=".9s"
						.text-center
							i.material-icons.feature-lg textsms
						h2.text-center Send Messages
						p Communicate with Our Revolution volunteers and turn them out for events in their area! You will provide information and encouragement to get as many people involved in our political revolution as possible! #ourrevolution

		section#start
			.col-sm-12.text-center
				a.btn.btn-lg.btn-primary.btn-start.wow.tada data-wow-delay=".5s" href="http://bernie.to/t4b_New_User_FAQ" onclick="ga('send','event','button','start');" target="_blank" Get Started


		footer
			.container
				.row
					.col-md-4
						h3 Our Revolution
						ul
							li: a href="https://ourrevolution.com/about" target="_blank"  About
							li: a href="https://ourrevolution.com/candidates" target="_blank"  Endorsed Candidates
							li: a href="https://ourrevolution.com/ballot-initiatives" target="_blank"  Initiatives
							li: a href="https://ourrevolution.com/issues" target="_blank" Issues
					.col-md-4.text-center
						h3 Volunteer
						ul
							li: a href="https://ourrevolution.com/action" target="_blank"  Volunteer
							li: a href="https://go.ourrevolution.com/page/content/phonebank/" target="_blank"  Phonebanking
					.col-md-4.text-right
						h3 Organize
						ul
							li: a href="https://secure.actblue.com/contribute/page/t4revolution?refcode=footer" target="_blank"  Contribute
							li: a href="http://go.ourrevolution.com/page/event/create" target="_blank"  Plan an Event
		footer.subfooter
			.container
				.row
					.col-md-4
					.col-md-4.text-center
						' Created for volunters by volunteers
					.col-md-4.text-right
						| Website by
						a<> href="http://github.com/oranges13" target="_blank"
							| /u/oranges13



	script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"
	script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
	script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js'
	script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js'
	/[if lt IE 9]
		script type="text/javascript" src='https://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js'

	javascript:
		$(function() {
			new WOW().init();

			$('a[href^="#"]').click(function(e) {
				e.preventDefault();
				var offset = $($(this.hash)).offset();
				var scrollto = offset.top - 95; // minus fixed header height
				$('html, body').animate({scrollTop:scrollto}, 600);
			});
		});
		jQuery("header h1").fitText(1.0, { minFontSize: '40px', maxFontSize: '144px' });
	    jQuery("header .subtitle").fitText(1.0, { maxFontSize: '30px'});
	    jQuery("#how h2").fitText();

		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-73138927-2', 'auto');
		ga('send', 'pageview');