doctype html
html
	head
	    meta http-equiv="X-UA-Compatible" content="IE=edge"
	    meta name="viewport" content="width=device-width, initial-scale=1"
		meta charset="utf-8"

		= csrf_meta_tags

		- if content_for?(:title)
			title= "#{yield_content :title} | Text for Our Revolution | A Turnout App for Volunteers"
		- else
			title Text for Our Revolution | A Turnout App for Volunteers

		= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100|Lora:400,700italic,700,400italic', 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', 'application'
		== yield_content(:assets)

		link rel="shortcut icon" href=url_for("/favicon/favicon.ico") type="image/x-icon"
		link rel="apple-touch-icon" sizes="57x57" href=url_for("/favicon/apple-touch-icon-57x57.png")
		link rel="apple-touch-icon" sizes="60x60" href=url_for("/favicon/apple-touch-icon-60x60.png")
		link rel="apple-touch-icon" sizes="72x72" href=url_for("/favicon/apple-touch-icon-72x72.png")
		link rel="apple-touch-icon" sizes="76x76" href=url_for("/favicon/apple-touch-icon-76x76.png")
		link rel="apple-touch-icon" sizes="114x114" href=url_for("/favicon/apple-touch-icon-114x114.png")
		link rel="apple-touch-icon" sizes="120x120" href=url_for("/favicon/apple-touch-icon-120x120.png")
		link rel="apple-touch-icon" sizes="144x144" href=url_for("/favicon/apple-touch-icon-144x144.png")
		link rel="apple-touch-icon" sizes="152x152" href=url_for("/favicon/apple-touch-icon-152x152.png")
		link rel="apple-touch-icon" sizes="180x180" href=url_for("/favicon/apple-touch-icon-180x180.png")
		link rel="icon" type="image/png" href=url_for("/favicon/favicon-16x16.png") sizes="16x16"
		link rel="icon" type="image/png" href=url_for("/favicon/favicon-32x32.png") sizes="32x32"
		link rel="icon" type="image/png" href=url_for("/favicon/favicon-96x96.png") sizes="96x96"
		link rel="icon" type="image/png" href=url_for("/favicon/android-chrome-192x192.png") sizes="192x192"
		meta name="msapplication-square70x70logo" content=url_for("/favicon/smalltile.png")
		meta name="msapplication-square150x150logo" content=url_for("/favicon/mediumtile.png")
		meta name="msapplication-wide310x150logo" content=url_for("/favicon/widetile.png")
		meta name="msapplication-square310x310logo" content=url_for("/favicon/largetile.png")

		/! HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		/[if lt IE 9]
			=javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
			=javascript_include_tag "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

		javascript:
			var base_url = "#{url_for('/')}"

	body#main role="document"
		/ = partial 'navbar'

		/! Navigation
		nav.navbar.navbar-default.navbar-fixed-top role="navigation"
			.container
				/! Navbar Header
				.navbar-header
					button.navbar-toggle data-target="#navbar" data-toggle="collapse" type="button"
						span.sr-only Toggle Menu
						span.icon-bar
						span.icon-bar
						span.icon-bar
					= link_to "T4OR Shifts", "/", :class => "navbar-brand"
				nav.collapse.navbar-collapse#navbar
					-if logged_in?
						ul.nav.navbar-nav
							li=link_to "All Shifts", url_for(:shifts, :index)
							- if current_user.is_admin?
								li=link_to "Manage Users", url_for(:users, :index)

					ul.nav.navbar-nav.navbar-right
						- if logged_in?
							.navbar-text.hidden-xs.hidden-sm
								- if current_user.is_admin?
									i.fa.fa-star> style="color: gold" title="You're a wizard, Harry!"
								' Hello #{current_user.uid}
							li= link_to "Profile", url_for(:users, :view)
							li= link_to "Logout", "/logout"
						- else
							li: a href="/login" style="padding:0; margin: 5px"
								<img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
							li.divider.hidden-xs.hidden-sm
							li= link_to "Sign Up", "http://bernie.to/JoinT4B", :target => "_blank"

		.container#main

			- if flash
				#flash
					- flash.each do |type, message|
						- type = (type == :error)? :danger : type
						div class="alert alert-#{type} alert-dismissable"
							button type="button" class="close" data-dismiss="alert" aria-label="close"
								span aria-hidden="true" &times;
							== message

			= yield

		footer.copy.hidden-print
			.container
				.col-md-4
					p Questions? Comments? Concerns?
					= link_to "https://bitbucket.org/jamina1/t4b-shifts/issues/new"
						' Submit a Bug Report or Enhancement request!
				.col-md-4.text-center
					p By Volunteers for Volunteers

				.col-md-4
					.text-right
						=> link_to "http://ko-fi.com/1586TITS43WQL", :class => "btn btn-sm btn-success"
							' Buy me a coffee
						=< link_to "https://secure.actblue.com/contribute/page/t4revolution?refcode=shifts", :class => "btn btn-sm btn-danger"
							'Donate to Our Revolution

		.corner-ribbon.shadow.red.bottom-left.sticky.hidden-xs ALPHA!

	= javascript_include_tag "https://code.jquery.com/jquery-1.11.3.min.js", 'https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.1.0/rails.min.js', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js', 'application'
	/[if lt IE 9]
		= javascript_include_tag '//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js'
	== yield_content(:scripts)
	javascript:
		$.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "#{{session[:csrf]}}");
            }
        });
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-73138927-3', 'auto');
		ga('send', 'pageview');
